<br /> 
<br />
<br />
<br />
<div class="container">
  <% provide(:title, 'Sign up') %>
  <h1>Sign up</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
        <%= f.label :username %><br>
        <%= f.text_field :username, class: 'form-control' %>


        <%= f.label :email %><br>
        <%= f.email_field :email, class: 'form-control' %><br>

        
        <%= f.label :street_address %><br>
        <%= f.text_field :street_address, class: 'form-control' %><br>
        
        <%= f.label :city %><br>
        <%= f.text_field :city, class: 'form-control' %><br>
        
        <%= f.label :postal_code %><br>
        <%= f.text_field :postal_code, class: 'form-control' %><br>
        
         League of Ledgends <%= f.check_box :lol %> <br>
         dota2 <%= f.check_box :dota2 %> <br>
         Smite <%= f.check_box :smite %> <br>
         Heroes of the Storm <%= f.check_box :hots %><br>

        <%= f.label :password %><br>
        <%= f.password_field :password %><br>

        <%= f.label :password_confirmation, "Confirmation" %><br>
        <%= f.password_field :password_confirmation %><br>
        <br />

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<br />
<br />

