<!--Signup page-->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <% provide(:title, 'Sign up') %>
  <h1 class="col-md-offset-3">Sign up</h1>
  <br />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user , html: {multipart: true}) do |f| %>
      <%= render 'shared/error_messages' %>

        <%= f.label :username %><br>
        <%= f.text_field :username, class: 'form-control' %><br />


        <%= f.label :email %><br>
        <%= f.email_field :email, class: 'form-control' %><br>


        <%= f.label :street_address %><br>
        <%= f.text_field :street_address, class: 'form-control' %><br>

        <%= f.label :city %><br>
        <%= f.text_field :city, class: 'form-control' %><br>

        <%= f.label :state %><br>
        <%= f.text_field :state, class: 'form-control' %><br>

        <%= f.label :country %><br>
        <%= f.text_field :country, class: 'form-control' %><br>

        <%= f.label :postal_code %><br>
        <%= f.text_field :postal_code, class: 'form-control' %><br>

        <P> Games You Play:</P>

         <%= f.label :lol %>
         <%= f.check_box :lol %> <br>
        <%= f.label :dota2 %>
         <%= f.check_box :dota2 %> <br>
          <%= f.label :smite %>
         <%= f.check_box :smite %> <br>
          <%= f.label :hots %>
         <%= f.check_box :hots %> <br>

        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'form-control'%><br>

         <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br>

      <%= f.label :avatar %><br>
      <%= f.file_field :avatar, class: 'form-control' %><br>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
