<br>
<br>
<br>
<br>
<br>
<br>
<div class = "field">
<h1><%= @user.username %> </h1>

<p>
  email <%= @user.email %><br>
  street <%= @user.street_address %><br>
  city <%= @user.city %><br>
  country <%= @user.country %><br>
  postal code <%= @user.postal_code %><br>
  
  <p>Games Played:</p>
  
  
  <% if @user.lol == true %>
    <p> lol</p>
  <% end %>
  
  <% if @user.dota2 == true %>
    <p> dota2</p>
  <% end %>
    
    <% if @user.smite == true %>
    <p>smite</p>
  <% end %>
  
  <% if @user.hots == true %>
    <p>hots</p><br>
    <p> Description</p><br>

  <%= @user.description %><br>
  
  <% end %>
</p>

</div>