<br>
<br>
<br>
<br>
<br>
<br>
<h1><%= @user.username %> </h1>

<p>
  email <%= @user.email %><br>
  street <%= @user.street_address %><br>
  city <%= @user.city %><br>
  country <%= @user.country %><br>
  postal code <%= @user.postal_code %><br>
  lol <%= @user.lol %><br>
  dota2 <%= @user.dota2 %><br>
  smote <%= @user.smite %><br>
  hots <%= @user.hots %><br>
</p>