
<!DOCTYPE html>
<html>
<head>
  <title>Group3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<!--Navbar-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          	<a class="navbar-brand">RANDOM ENCOUNTERS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
				<li><%= link_to 'HOME', root_path %></li>
				<li><%= link_to 'HOME', root_path %></li>
				<li><%= link_to 'HOME', root_path %></li>
				<li><%= link_to 'SIGN UP', signup_path %></li>
			</ul>
        </div>
      </div>
    </nav>

    <!--Yield-->
    <%= yield %>
    <!--Footer-->
	<footer class="footer-distributed">
		<div class="footer-left">
			<div class = "footerlogo">
				<img src="/assets/logo.png" alt="logo" width=150px height=120px margin-bottom: 100px />
			</div>
			<!--<h3>RANDOM<span>ENCOUNTERS</span></h3>-->
			<p class="footer-links">
				<a href="#">Home</a>
				·
				<a href="#">Blog</a>
				·
				<a href="#">Pricing</a>
				·
				<a href="#">About</a>
				·
				<a href="#">Faq</a>
				·
				<a href="#">Contact</a>
			</p>
			<p class="footer-company-name">Company Name &copy; 2015</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>8888 University Dr, Burnaby</span> British Columbia, Canada</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>+1 778-782-3111</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
			</p>
			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</body>
</html>


